# Exclude uploaded files from Docker image builds
backend/uploads
backend/uploads/**

# Exclude environment variable files
backend/.env
backend/.env.sample

# Common ignores
.venv
__pycache__
.git
*.pyc
